*.log
*.iml
.nrepl-port
.DS_Store
.dir-locals.el

target
.lein*
checkouts

resources/public/js
resources/public/css/app.css

infra/.env
infra/.env.sh

.idea

/.lein-env
/*.org
/.lein-failures
/resources/public/js/compiled
/.nrepl-port
/figwheel_server.log
/checkouts
