# Macos
.DS_Store

# Emacs
*.org
.dir-locals.el

# Intellij
*.iml
.idea

# Js
resources/public/js/
resources/public/vs/
resources/public/css/app.css
resources/public/css/player.css

# Templates
infra/.env
infra/.env.sh

# Lein
target/
checkouts/
.lein*

# nRepl
.nrepl-port

# Figwheel
figwheel_server.log
