;;
;; WARN
;;
;; Each form in this file will internally be assigned a magic number by datomic
;; during the schema transaction, that number is used to auto-migrate the DB and
;; is **ORDER-DEPENDENT**.
;;
;; We should only **APPEND** to this file, and never insert an attribute inside
;; an existing transaction, or insert new transactions in between existing ones.


;;
;; * UID
;;

[{:db/id          #db/id [:db.part/db]
  :db/ident       :db/uid
  :db/valueType   :db.type/uuid
  :db/cardinality :db.cardinality/one
  :db/unique      :db.unique/identity}]

;;
;; * User
;;

[{:db/id          #db/id [:db.part/db]
  :db/ident       :vimsical.user/first-name
  :db/valueType   :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/id          #db/id [:db.part/db]
  :db/ident       :vimsical.user/last-name
  :db/valueType   :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/id          #db/id [:db.part/db]
  :db/ident       :vimsical.user/email
  :db/valueType   :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique      :db.unique/value}
 {:db/id          #db/id [:db.part/db]
  :db/ident       :vimsical.user/password
  :db/valueType   :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/id          #db/id [:db.part/db]
  :db/ident       :vimsical.user/vimsae
  :db/valueType   :db.type/ref
  :db/cardinality :db.cardinality/many}
 {:db/id          #db/id [:db.part/db]
  :db/ident       :vimsical.user/settings
  :db/valueType   :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/isComponent true}]

;;
;; * Settings
;;

[{:db/id          #db/id [:db.part/db]
  :db/ident       :vimsical.user.settings/playback
  :db/valueType   :db.type/ref
  :db/cardinality :db.cardinality/one}
 {:db/id          #db/id [:db.part/db]
  :db/ident       :vimsical.user.settings.playback/speed
  :db/valueType   :db.type/double
  :db/cardinality :db.cardinality/one}]

;;
;; * Vims
;;

[{:db/id          #db/id [:db.part/db]
  :db/ident       :vimsical.vims/title
  :db/valueType   :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/id          #db/id [:db.part/db]
  :db/ident       :vimsical.vims/cast?
  :db/valueType   :db.type/boolean
  :db/cardinality :db.cardinality/one}
 {:db/id          #db/id [:db.part/db]
  :db/ident       :vimsical.vims/owner
  :db/valueType   :db.type/ref
  :db/cardinality :db.cardinality/one}
 {:db/id          #db/id [:db.part/db]
  :db/ident       :vimsical.vims/branches
  :db/valueType   :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/isComponent true}
 {:db/id          #db/id [:db.part/db]
  :db/ident       :vimsical.vims/created-at
  :db/valueType   :db.type/long
  :db/cardinality :db.cardinality/one}]

;;
;; * Compilers
;;

[{:db/id          #db/id [:db.part/db]
  :db/ident       :vimsical.vcs.compiler/name
  :db/valueType   :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/id          #db/id [:db.part/db]
  :db/ident       :vimsical.vcs.compiler/type
  :db/valueType   :db.type/keyword
  :db/cardinality :db.cardinality/one}
 {:db/id          #db/id [:db.part/db]
  :db/ident       :vimsical.vcs.compile/sub-type
  :db/valueType   :db.type/keyword
  :db/cardinality :db.cardinality/one}
 {:db/id          #db/id [:db.part/db]
  :db/ident       :vimsical.vcs.compile/to-sub-type
  :db/valueType   :db.type/keyword
  :db/cardinality :db.cardinality/one}]

;;
;; * Libs
;;

[{:db/id          #db/id [:db.part/db]
  :db/ident       :vimsical.vcs.lib/src
  :db/valueType   :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique      :db.unique/identity}
 {:db/id          #db/id [:db.part/db]
  :db/ident       :vimsical.vcs.lib/name
  :db/valueType   :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/id          #db/id [:db.part/db]
  :db/ident       :vimsical.vcs.lib/version
  :db/valueType   :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/id          #db/id [:db.part/db]
  :db/ident       :vimsical.vcs.lib/type
  :db/valueType   :db.type/keyword
  :db/cardinality :db.cardinality/one}
 {:db/id          #db/id [:db.part/db]
  :db/ident       :vimsical.vcs.lib/sub-type
  :db/valueType   :db.type/keyword
  :db/cardinality :db.cardinality/one}]

;;
;; * Branches
;;

[{:db/id          #db/id [:db.part/db]
  :db/ident       :vimsical.vcs.branch/name
  :db/valueType   :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/id          #db/id [:db.part/db]
  :db/ident       :vimsical.vcs.branch/start-delta-uid
  :db/valueType   :db.type/uuid
  :db/cardinality :db.cardinality/one}
 {:db/id          #db/id [:db.part/db]
  :db/ident       :vimsical.vcs.branch/branch-off-delta-uid
  :db/valueType   :db.type/uuid
  :db/cardinality :db.cardinality/one}
 {:db/id          #db/id [:db.part/db]
  :db/ident       :vimsical.vcs.branch/created-at
  :db/valueType   :db.type/long
  :db/cardinality :db.cardinality/one}
 {:db/id          #db/id [:db.part/db]
  :db/ident       :vimsical.vcs.branch/parent
  :db/valueType   :db.type/ref
  :db/cardinality :db.cardinality/one}
 {:db/id          #db/id [:db.part/db]
  :db/ident       :vimsical.vcs.branch/owner
  :db/valueType   :db.type/ref
  :db/cardinality :db.cardinality/one}
 {:db/id          #db/id [:db.part/db]
  :db/ident       :vimsical.vcs.branch/files
  :db/valueType   :db.type/ref
  :db/isComponent true
  :db/cardinality :db.cardinality/many}
 {:db/id          #db/id [:db.part/db]
  :db/ident       :vimsical.vcs.branch/libs
  :db/valueType   :db.type/ref
  :db/cardinality :db.cardinality/many}]

;;
;; * Files
;;

[{:db/id          #db/id [:db.part/db]
  :db/ident       :vimsical.vcs.file/name
  :db/valueType   :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/id          #db/id [:db.part/db]
  :db/ident       :vimsical.vcs.file/type
  :db/valueType   :db.type/keyword
  :db/cardinality :db.cardinality/one}
 {:db/id          #db/id [:db.part/db]
  :db/ident       :vimsical.vcs.file/sub-type
  :db/valueType   :db.type/keyword
  :db/cardinality :db.cardinality/one}
 {:db/id          #db/id [:db.part/db]
  :db/ident       :vimsical.vcs.file/lang-version
  :db/valueType   :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/id          #db/id [:db.part/db]
  :db/ident       :vimsical.vcs.file/compiler
  :db/valueType   :db.type/ref
  :db/cardinality :db.cardinality/one}]

;;
;; * Auth
;;

[{:db/id          #db/id [:db.part/db]
  :db/ident       :vimsical.user/invite-token
  :db/valueType   :db.type/string
  :db/unique      :db.unique/value
  :db/cardinality :db.cardinality/one}
 {:db/id    #db/id [:db.part/db]
  :db/ident :db.fn/invite-signup
  :db/doc   "Look up entity by token, set attr and value, and retract token"
  :db/fn
  #db/fn {:lang   "clojure"
          :params [db token user]
          :code   (let [e (datomic.api/q
                           '[:find ?e .
                             :in $ ?token
                             :where
                             [?e :vimsical.user/invite-token ?token]]
                           db token)]
                    (if e
                      [user
                       [:db/retract e :vimsical.user/invite-token token]]
                      (throw (ex-info "Token expired" {}))))}}]

;;
;; * Vims licence addendum

[{:db/id          #db/id [:db.part/db]
  :db/ident       :vimsical.vims/license-addendum
  :db/valueType   :db.type/string
  :db/cardinality :db.cardinality/one}]
